<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="NRepository.Core" version="3.3.0.0" targetFramework="net45" />
  <package id="NRepository.MongoDb" version="2.1.0.0" targetFramework="net45" />
</packages>